/* TODO:
- Refactor with proper nesting

*/
@layer ambi.component {
  .textarea {
    --input-padding: var(--space-3);

    position: relative;

    textarea {
      width: 300px;
      font-family: var(--font-sans);
      resize: none;
      field-sizing: content;

      &.noAutoGrow {
        field-sizing: fixed;
        height: 100%;
        resize: none;
      }
    }

    .message {
      position: absolute;
      bottom: calc(-1 * var(--space-6));
      left: var(--space-3);
    }
  }

  .fullWidth,
  .fullWidth textarea {
    width: 100%;
  }

  .textarea:has([data-auto-grow="false"]) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .textAreaLabelWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;

    div {
      width: 100%;
      color: var(--text-muted);
      /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
      font-size: 0.8em;
      line-height: 0.8em;
      font-weight: normal;
      overflow-wrap: anywhere;
    }
  }
}
