@layer ambi.components {
  .btnRoot {
    /* composes: hoverable from "../../styles/utilities.module.css"; */

    /** Layout & Size **/

    --btn-gap: var(--control-gap, var(--space-2));
    --btn-padding: var(--control-padding, var(--space-2));
    --btn-radius: var(--control-radius);
    --btn-min-height: var(--control-min-height);

    /** Styling **/

    --btn-corner-shape: var(--control-corner-shape);
    --btn-font-family: var(--font-sans);
    --btn-font-weight: var(--font-weight-semibold);
    --btn-font-size: var(--control-font-size, var(--font-size-base));
    --btn-color: var(--control-color);
    --btn-bg-color: var(--control-bg-color);
    --btn-shadow-size: var(--control-shadow-size);
    --btn-shadow-color: var(--control-shadow-color);
    --btn-line-height: 1em;
    --btn-border-width: var(--control-border-width, var(--border-size-xs));
    --btn-border-color: var(--control-border-color);

    display: flex;
    padding: var(--btn-padding);
    color: var(--btn-color);
    font-size: var(--btn-font-size);
    align-items: center;
    justify-content: center;
    min-height: var(--btn-min-height);
    line-height: var(--btn-line-height);
    gap: var(--btn-gap);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    text-transform: capitalize;
    background-color: var(--btn-bg-color);
    border-radius: var(--btn-radius);
    border: var(--btn-border-width) solid var(--btn-border-color);
    box-shadow: var(--btn-shadow-size) var(--btn-shadow-color);
    cursor: pointer;
    outline: var(--btn-border-width) solid transparent;
    outline-offset: var(--space-half);
    corner-shape: var(--btn-corner-shape);
    transition:
      background-color var(--duration-base) ease-in-out,
      color var(--duration-base) ease-in-out,
      border-color var(--duration-base) ease-in-out,
      box-shadow var(--duration-base) ease-in-out,
      outline var(--duration-base) ease-in-out;

    .label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      flex: none;
      display: inline-flex;
      inline-size: calc(var(--btn-min-height) * 0.6);
      block-size: calc(var(--btn-min-height) * 0.6);
      align-items: center;

      img {
        border-radius: var(--btn-radius);
      }

      svg,
      img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
        stroke: currentcolor;
        fill: none;
      }
    }

    /* &[data-fill="bordered"] {
      --btn-shadow-size: var(--shadow-xs-size);
      --btn-shadow-color: var(--shadow-xs-color);
      --btn-border-color: oklch(
        from var(--btn-bg-color) calc(l * 0.95) calc(c + 0.02) h
      );
      --hover-border-color: oklch(
        from var(--btn-bg-color) calc(l + 0.5) calc(c - 0.02) h
      );

      border-width: 2px;
    } */

    /* &[data-fill="ghost"] {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-shadow-size: 0 0;
      --btn-shadow-color: transparent;
      --hover-color: oklch(
        from var(--btn-color) calc(l + 0.5) calc(c + 0.01) h
      );
    } */

    &:disabled {
      --btn-color: var(--text-is-disabled);
      --btn-bg-color: var(--bg-is-disabled);
      --btn-border-color: var(--border-is-disabled);

      opacity: 0.5;
      color: var(--btn-color);
      background-color: var(--btn-bg-color);
      border-color: var(--btn-border-color);
      cursor: not-allowed;
    }

    &:not([data-fill="ghost"], :disabled):hover {
      --btn-shadow-size: var(--shadow-sm-size);
      --btn-shadow-color: var(--shadow-hover-color);
    }

    &.iconBtn {
      gap: 0;
      inline-size: var(--btn-min-height);
      min-inline-size: var(--btn-min-height);
      min-height: var(--btn-min-height);
      padding: 0;
    }

    &[data-icon-position="right"] {
      .icon {
        order: 1;
      }
    }

    &:focus-visible:not(:disabled) {
      outline-color: var(--border-focus);
      box-shadow: none;
    }

    &.splitBtnSecondary {
      --split-btn-shadow-size: 2px 2px 3px 1px;
      --split-btn-shadow-color: var(--shadow-xs-color);

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: var(--split-btn-shadow-size) var(--split-btn-shadow-color);
      border-left: none;

      &[data-fill="ghost"] {
        --split-btn-shadow-size: 0 0;
        --split-btn-shadow-color: transparent;
      }
    }
  }

  .splitBtn {
    position: relative;
    display: inline-flex;
    align-items: stretch;

    .primaryBtn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .chevronIcon {
      width: var(--space-4);
      height: var(--space-4);
      transition: transform var(--duration-fast) ease-in-out;
    }
  }

  [aria-expanded="true"] {
    .chevronIcon {
      transform: rotate(180deg);
    }
  }

  [data-appearance="dark"] {
    /* stylelint-disable-next-line no-descending-specificity */
    .btnRoot {
      --btn-border-color: oklch(
        from var(--btn-bg-color) calc(l + 0.1) calc(c - 0.02) h
      );

      &[data-fill="bordered"] {
        --btn-border-color: oklch(
          from var(--btn-bg-color) calc(l + 0.3) calc(c - 0.02) h
        );
        --hover-border-color: oklch(
          from var(--btn-bg-color) calc(l + 0.5) calc(c - 0.02) h
        );
      }

      &[data-fill="ghost"] {
        &:hover {
          color: oklch(from var(--btn-color) calc(l + 0.3) calc(c + 0.2) h);
        }
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .btnRoot {
      transition: none;

      .chevronIcon {
        transition: none;
      }
    }
  }
}
