.btn {
  composes: hoverable from "../../styles/utilities.module.css";

  /**Layout & Size **/
  --gap: var(--space-2);
  --padding: var(--p-md);
  --radius: var(--radius-lg);
  --min-height: 2.5rem;

  /** Styling **/
  --font-family: var(--font-sans);
  --font-weight: var(--font-weight-semibold);
  --font-size: var(--font-size-md);
  /* --color: var(--text-primary);
  --bg-color: var(--bg-secondary); */
  /* --border-color: var(--role-border); */
  /* --shadow-size: var(--shadow-xs-size);
  --shadow-color: var(--shadow-xs-color); */
  --icon-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: var(--min-height);
  line-height: var(--line-height-control);

  gap: var(--gap);
  padding: var(--padding);

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-transform: capitalize;

  color: var(--color);
  background-color: var(--bg-color);

  border-radius: var(--radius);
  border: var(--border-size-xs) solid var(--border-color);
  box-shadow: var(--shadow-size) var(--shadow-color);

  cursor: pointer;
  transition:
    background-color var(--duration-base) ease-in-out,
    color var(--duration-base) ease-in-out,
    border-color var(--duration-base) ease-in-out,
    box-shadow var(--duration-base) ease-in-out;

  .label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    flex: none;
    display: inline-flex;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    align-items: center;
    svg,
    img {
      display: block;
      inline-size: 100%;
      block-size: 100%;
      stroke: currentcolor;
      fill: none;
    }
  }

  /* ─── Variants (color slot) ────────────────────────────────── */
  /* &.primary {
    --color: var(--text-primary);
    --bg-color: var(--bg-secondary);
  }

  &.secondary {
    --color: var(--text-on-brand);
    --bg-color: var(--bg-brand);
    --hover-color: oklch(from var(--color) calc(l + 0.2) c h);
  } */

  /**Only suitable for large text **/
  /* &.brand {
    --color: var(--text-on-brand);
    --bg-color: var(--role-accent-secondary);
    --hover-color: oklch(from var(--color) calc(l + 0.2) c h);
  }

  &.info {
    --color: var(--text-info);
    --bg-color: var(--bg-info);
    --hover-border-color: var(--border-info);
  }

  &.error {
    --color: var(--text-error);
    --bg-color: var(--bg-error);
    --hover-border-color: var(--border-error);
  }

  &.success {
    --color: var(--text-success);
    --bg-color: var(--bg-success);
    --hover-border-color: var(--border-success);
  }

  &.warning {
    --color: var(--text-warning);
    --bg-color: var(--bg-warning);
    --hover-border-color: var(--border-warning);
  }

  &:disabled {
    --color: var(--text-is-disabled);
    --bg-color: var(--bg-is-disabled);
    --border-color: var(--border-is-disabled);
    opacity: 0.5;
    color: var(--color);
    cursor: not-allowed;
    background-color: var(--bg-color);
    border-color: var(--border-color);
  }

  &[data-fill="bordered"] {
    border-width: 2px;
    --border-color: oklch(from var(--bg-color) calc(l * 0.95) calc(c + 0.02) h);
    --hover-border-color: oklch(
      from var(--bg-color) calc(l + 0.5) calc(c - 0.02) h
    );
  }

  &[data-fill="ghost"] {
    --bg-color: transparent;
    --border-color: transparent;
    --shadow-size: 0 0;
    --shadow-color: transparent;
    --hover-color: oklch(from var(--color) calc(l + 0.5) calc(c + 0.01) h);
  } */

  /* ─── Sizes ─────────────────────────────────────────────────── */
  &.xs {
    --padding: var(--p-pill-xs);
    --font-size: var(--font-size-xs);
    --radius: var(--radius-sm);
    --gap: var(--space-1);
    --min-height: 1.5rem;
  }

  &.sm {
    --padding: var(--p-pill-xs);
    --font-size: var(--font-size-xs);
    --radius: var(--radius-md);
    --gap: 0;
    --min-height: 1.75rem;
  }

  &.md {
    --padding: var(--p-pill-md);
    --font-size: var(--font-size-base);
    --radius: var(--radius-md);
    --gap: var(--space-3);
    --min-height: 2.5rem;
  }

  &.lg {
    --padding: var(--p-pill-lg);
    --font-size: var(--font-size-lg);
    --radius: var(--radius-lg);
    --gap: var(--space-4);
    --min-height: 3.75rem;
  }

  &.pill,
  &.avatar {
    border-radius: var(--radius-full);
  }
  &.avatar {
    border: none;
  }

  &[data-fill="bordered"] {
    --shadow-size: var(--shadow-xs-size);
    --shadow-color: var(--shadow-xs-color);
    --border-color: oklch(from var(--bg-color) calc(l * 0.95) calc(c + 0.02) h);
    --hover-border-color: oklch(
      from var(--bg-color) calc(l + 0.5) calc(c - 0.02) h
    );
    border-width: 2px;
  }

  &[data-fill="ghost"] {
    --bg-color: transparent;
    --border-color: transparent;
    --shadow-size: 0 0;
    --shadow-color: transparent;
    --hover-color: oklch(from var(--color) calc(l + 0.5) calc(c + 0.01) h);
  }

  &:disabled {
    --color: var(--text-is-disabled);
    --bg-color: var(--bg-is-disabled);
    --border-color: var(--border-is-disabled);
    opacity: 0.5;
    color: var(--color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }

  &:disabled:hover {
    --shadow-size: 0 0;
    --shadow-color: transparent;
  }

  &:not([data-fill="ghost"]):not(:disabled):hover {
    --shadow-size: var(--shadow-sm-size);
    --shadow-color: var(--shadow-hover-color);
  }

  &.iconBtn {
    --icon-size: var(--space-7);
    gap: 0;
    aspect-ratio: 1;

    &.xs {
      --icon-size: var(--space-4);
      --padding: var(--space-half);
    }
    &.sm {
      --icon-size: var(--space-5);
      --padding: var(--space-1);
    }
    &.md {
      --icon-size: var(--space-8);
      --padding: var(--space-1);
    }
    &.lg {
      --icon-size: var(--space-10);
      --padding: var(--space-2);
      --min-height: 3.5rem;
    }
  }

  &.avatar {
    padding: 0;
    border-width: var(--border-size-md);
    img {
      border-radius: var(--radius-full);
    }
  }

  &[data-icon-position="right"] {
    .icon {
      order: 1;
    }
  }

  &:focus-visible:not(:disabled) {
    outline: var(--border-size-md) solid var(--border-focus);
    outline-offset: var(--space-1);
  }

  &.splitBtnSecondary {
    --split-btn-shadow-size: 2px 2px 3px 1px;
    --split-btn-shadow-color: var(--shadow-xs-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: var(--split-btn-shadow-size) var(--split-btn-shadow-color);
    border-left: none;

    &[data-fill="ghost"] {
      --split-btn-shadow-size: 0 0;
      --split-btn-shadow-color: transparent;
    }
  }
}

.splitBtn {
  display: inline-flex;
  align-items: stretch;
  position: relative;

  .primaryBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .chevronIcon {
    width: var(--space-4);
    height: var(--space-4);
    transition: transform var(--duration-fast) ease-in-out;
  }
}

[aria-expanded="true"] {
  .chevronIcon {
    transform: rotate(180deg);
  }
}

[data-appearance="dark"] {
  .btn {
    &[data-fill="bordered"] {
      --border-color: oklch(
        from var(--bg-color) calc(l + 0.3) calc(c - 0.02) h
      );
      --hover-border-color: oklch(
        from var(--bg-color) calc(l + 0.5) calc(c - 0.02) h
      );
    }

    &[data-fill="ghost"] {
      --hover-color: oklch(from var(--color) calc(l - 0.2) calc(c + 0.2) h);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
    .chevronIcon {
      transition: none;
    }
  }
}
