@layer ambi.component {
  .btn {
    composes: hoverable from "../../styles/utilities.module.css";

    /** Layout & Size **/

    --btn-gap: var(--space-2);
    --btn-padding: var(--p-md);
    --btn-radius: var(--control-radius-md);
    --btn-min-height: var(--control-height-md);

    /** Styling **/

    --btn-font-family: var(--font-sans);
    --btn-font-weight: var(--font-weight-semibold);
    --btn-font-size: var(--control-font-md);
    --btn-color: var(--color);
    --btn-bg-color: var(--bg-color);
    --btn-border-color: var(--border-color);
    --btn-shadow-size: var(--shadow-size);
    --btn-shadow-color: var(--shadow-color);
    --btn-icon-size: 1em;

    display: flex;
    padding: var(--btn-padding);
    color: var(--btn-color);
    font-size: var(--btn-font-size);
    align-items: center;
    justify-content: center;
    min-height: var(--btn-min-height);
    line-height: var(--line-height-control);
    gap: var(--btn-gap);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    text-transform: capitalize;
    background-color: var(--btn-bg-color);
    border-radius: var(--btn-radius);
    border: var(--border-size-xs) solid var(--btn-border-color);
    box-shadow: var(--btn-shadow-size) var(--btn-shadow-color);
    cursor: pointer;
    outline: var(--border-size-sm) solid transparent;
    outline-offset: var(--space-half);
    transition:
      background-color var(--duration-base) ease-in-out,
      color var(--duration-base) ease-in-out,
      border-color var(--duration-base) ease-in-out,
      box-shadow var(--duration-base) ease-in-out,
      outline var(--duration-base) ease-in-out;

    .label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      flex: none;
      display: inline-flex;
      inline-size: var(--btn-icon-size);
      block-size: var(--btn-icon-size);
      align-items: center;

      svg,
      img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
        stroke: currentcolor;
        fill: none;
      }
    }

    /* ─── Sizes ─────────────────────────────────────────────────── */
    &.xs {
      --btn-padding: var(--p-pill-xs);
      --btn-font-size: var(--control-font-xs);
      --btn-radius: var(--control-radius-xs);
      --btn-gap: var(--space-1);
      --btn-min-height: var(--control-height-xs);
    }

    &.sm {
      --btn-padding: var(--p-pill-xs);
      --btn-font-size: var(--control-font-sm);
      --btn-radius: var(--control-radius-sm);
      --btn-gap: 0;
      --btn-min-height: var(--control-height-sm);
    }

    &.md {
      --btn-padding: var(--p-pill-md);
      --btn-font-size: var(--control-font-md);
      --btn-radius: var(--control-radius-md);
      --btn-gap: var(--space-3);
      --btn-min-height: var(--control-height-md);
    }

    &.lg {
      --btn-padding: var(--p-pill-lg);
      --btn-font-size: var(--control-font-lg);
      --btn-radius: var(--control-radius-lg);
      --btn-gap: var(--space-4);
      --btn-min-height: var(--control-height-lg);
    }

    &.pill,
    &.avatar {
      border-radius: var(--radius-full);
    }

    &.squircle {
      @supports (corner-shape: squircle) {
        corner-shape: squircle;
        border-radius: var(--radius-full);
      }
    }

    &.avatar {
      border: none;
      padding: 0;
      border-width: var(--border-size-md);

      img {
        border-radius: var(--radius-full);
      }
    }

    &[data-fill="bordered"] {
      --btn-shadow-size: var(--shadow-xs-size);
      --btn-shadow-color: var(--shadow-xs-color);
      --btn-border-color: oklch(
        from var(--btn-bg-color) calc(l * 0.95) calc(c + 0.02) h
      );
      --hover-border-color: oklch(
        from var(--btn-bg-color) calc(l + 0.5) calc(c - 0.02) h
      );

      border-width: 2px;
    }

    &[data-fill="ghost"] {
      --btn-bg-color: transparent;
      --btn-border-color: transparent;
      --btn-shadow-size: 0 0;
      --btn-shadow-color: transparent;
      --hover-color: oklch(
        from var(--btn-color) calc(l + 0.5) calc(c + 0.01) h
      );
    }

    &:disabled {
      --btn-color: var(--text-is-disabled);
      --btn-bg-color: var(--bg-is-disabled);
      --btn-border-color: var(--border-is-disabled);

      opacity: 0.5;
      color: var(--btn-color);
      background-color: var(--btn-bg-color);
      border-color: var(--btn-border-color);
      cursor: not-allowed;
    }

    &:not([data-fill="ghost"], :disabled):hover {
      --btn-shadow-size: var(--shadow-sm-size);
      --btn-shadow-color: var(--shadow-hover-color);
    }

    &.iconBtn {
      --btn-icon-size: var(--space-7);

      gap: 0;
      aspect-ratio: 1;

      &.xs {
        --btn-icon-size: var(--space-4);
        --btn-padding: var(--space-half);
      }

      &.sm {
        --btn-icon-size: var(--space-5);
        --btn-padding: var(--space-1);
      }

      &.md {
        --btn-icon-size: var(--space-8);
        --btn-padding: var(--space-1);
      }

      &.lg {
        --btn-icon-size: var(--space-10);
        --btn-padding: var(--space-2);
        --btn-min-height: 3.5rem;
      }
    }

    &[data-icon-position="right"] {
      .icon {
        order: 1;
      }
    }

    &:focus-visible:not(:disabled) {
      outline-color: var(--border-focus);
      box-shadow: none;
    }

    /* &.squircle:focus-visible:not(:disabled) {
    @supports (corner-shape: squircle) {
      outline: none;
      box-shadow:
        var(--btn-shadow-size) var(--btn-shadow-color),
        0 0 0 var(--border-size-sm) var(--border-focus);
    }
  } */

    &.splitBtnSecondary {
      --split-btn-shadow-size: 2px 2px 3px 1px;
      --split-btn-shadow-color: var(--shadow-xs-color);

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: var(--split-btn-shadow-size) var(--split-btn-shadow-color);
      border-left: none;

      &[data-fill="ghost"] {
        --split-btn-shadow-size: 0 0;
        --split-btn-shadow-color: transparent;
      }
    }
  }

  .splitBtn {
    position: relative;
    display: inline-flex;
    align-items: stretch;

    .primaryBtn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .chevronIcon {
      width: var(--space-4);
      height: var(--space-4);
      transition: transform var(--duration-fast) ease-in-out;
    }
  }

  [aria-expanded="true"] {
    .chevronIcon {
      transform: rotate(180deg);
    }
  }

  [data-appearance="dark"] {
    /* stylelint-disable-next-line no-descending-specificity */
    .btn {
      --btn-border-color: oklch(
        from var(--btn-bg-color) calc(l + 0.1) calc(c - 0.02) h
      );

      &[data-fill="bordered"] {
        --btn-border-color: oklch(
          from var(--btn-bg-color) calc(l + 0.3) calc(c - 0.02) h
        );
        --hover-border-color: oklch(
          from var(--btn-bg-color) calc(l + 0.5) calc(c - 0.02) h
        );
      }

      &[data-fill="ghost"] {
        &:hover {
          color: oklch(from var(--btn-color) calc(1 + 0.3) calc(c + 0.2) h);
        }
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;

      .chevronIcon {
        transition: none;
      }
    }
  }
}
