.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@layer ambi.components {
  .hoverable {
    --hover-color: oklch(
      from var(--control-color) calc(l - 0.1) calc(c + 0.01) h
    );
    --hover-bg-color: oklch(
      from var(--control-bg-color) calc(l + 0.03) calc(c + 0.02) h
    );
    --hover-border-color: var(--role-border);

    &:not(:disabled, [data-fill="ghost"]):hover {
      background-color: var(--hover-bg-color);

      /* color: var(--hover-color); */
    }
  }
}

[data-appearance="dark"] {
  .hoverable {
    &:not(:disabled, [data-fill="ghost"]):hover {
      --hover-border-color: oklch(
        from var(--control-bg-color) calc(l + 0.3) calc(c - 0.02) h
      );

      border-color: var(--hover-border-color);
    }
  }
}
