.hoverable {
  --hover-color: oklch(from var(--color) calc(l - 0.1) calc(c + 0.01) h);
  --hover-bg-color: oklch(from var(--bg-color) calc(l + 0.03) calc(c + 0.02) h);
  --border-color: var(--role-border);

  &:not(:disabled, [data-fill="ghost"]):hover {
    background-color: var(--hover-bg-color);

    /* color: var(--hover-color); */
  }
}

[data-appearance="dark"] {
  .hoverable {
    &:not(:disabled, [data-fill="ghost"]):hover {
      --hover-border-color: oklch(
        from var(--bg-color) calc(l + 0.3) calc(c - 0.02) h
      );

      border-color: var(--hover-border-color);
    }
  }
}
