.fieldGroup {
  --field-label-width: clamp(8rem, 30%, 14rem);

  container-type: inline-size;
  container-name: field-group;
  display: grid;
  grid-template-columns: minmax(0, var(--field-label-width)) minmax(0, 1fr);
  width: 100%;
  gap: var(--gap-lg);

  > [data-label-position="start"] {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    > * {
      width: 100%;
      min-width: 0;
    }
  }
}

@container (width < 32rem) {
  .fieldGroup > [data-label-position="start"] {
    grid-template-columns: minmax(0, 1fr);
  }
}
