@layer ambi.components {
  .toggleComponent {
    /** Toggle  **/
    --toggle-border-color: var(--control-border-color);
    --toggle-box-shadow: var(--shadow-xs);
    --toggle-corner-shape: var(--control-corner-shape);

    /** Track **/
    --track-height: calc(var(--control-min-height, var(--height-md)) * 0.6);
    --track-width: calc(var(--track-height) * 2);
    --track-bg-color: var(--control-bg-color);
    --track-color: var(--control-color);
    --track-border-radius: var(--control-radius, var(--radius-full));
    --track-box-shadow: var(--shadow-xs);
    --thumb-size: calc(var(--track-height) * 0.8);
    --track-padding: calc((var(--track-height) - var(--thumb-size)) / 2 - var(--border-size-xs));
    --thumb-border-radius: var(--control-radius, var(--radius-full));
    --thumb-color: var(--control-color);
    --thumb-box-shadow: var(--shadow-xs);
    --thumb-bg-color: var(--control-color);
    --thumb-translate: var(--track-height);

    position: relative;
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .message {
      position: absolute;
      bottom: calc(-1 * var(--space-6));
      left: 0;
    }

    .toggleInput {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip-path: inset(50%);
      white-space: nowrap;
      border: none;
    }

    .toggleWrap {
      display: flex;
      align-items: center;
      gap: var(--control-gap-sm);
      cursor: pointer;
      padding-bottom: var(--control-gap-sm);

      .spaceBetween {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .toggleTrack {
        position: relative;
        display: flex;
        align-items: center;
        width: var(--track-width);
        height: var(--track-height);
        border: var(--border-size-xs) solid var(--toggle-border-color);
        background-color: oklch(from var(--track-bg-color) l c h / 50%);
        border-radius: var(--track-border-radius);
        flex-shrink: 0;
        transition: background-color var(--duration-base) var(--ease-out);
        padding: var(--track-padding);
        corner-shape: var(--toggle-corner-shape);

        .toggleThumb {
          width: var(--thumb-size);
          height: var(--thumb-size);
          background-color: var(--thumb-bg-color);
          border-radius: var(--thumb-border-radius);
          box-shadow: var(--shadow-xs);
          transition: transform var(--duration-base) var(--ease-out);
          corner-shape: var(--toggle-corner-shape);
        }
      }
    }

    &.start .toggleWrap {
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }

    &:has(.toggleInput:checked) {
      .toggleTrack {
        background-color: var(--track-bg-color);
      }

      .toggleThumb {
        transform: translateX(var(--thumb-translate));
      }
    }

    &:has(.toggleInput:disabled) {
      .toggleWrap {
        cursor: not-allowed;
      }

      .toggleTrack {
        border-color: var(--border-is-disabled);
        background-color: var(--bg-is-disabled);
      }

      .toggleThumb {
        --thumb-bg-color: var(--text-is-disabled);
      }
    }

    &:has(.toggleInput:focus-visible) .toggleTrack {
      outline: var(--border-size-sm) solid var(--border-focus);
      outline-offset: var(--border-size-sm);
    }
  }

  [data-appearance="dark"] {
    .toggleComponent {
      --toggle-border-color: oklch(
        from var(--control-border-color) calc(l * 0.65) calc(c + 0.02) h
      );
    }
  }
}
