.chipList {
  --dropdown-chip-list-gap: var(--control-gap-xs);

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: var(--dropdown-chip-list-gap);
  min-width: 0;
  padding-left: 0;
  list-style: none;
}
